<div class="title col-12">Trade Bot</div>

<div class="row">
    <form name="form" [formGroup]="form" class="col-3" (ngSubmit)="submit()">
        <!-- Exchange -->
        <div class="field">
            <label for="exchange">Exchange</label>
            <select name="exchange" id="exchange" class="form-control" formControlName="exchange">
                <option value="binance">Binance</option>
                <option value="binance">Binance</option>
            </select>
        </div>

        <!-- period -->
        <div class="field">
            <label for="period">Period</label>
            <select name="period" id="period" class="form-control" formControlName="period">
                <option value="1">One day</option>
                <option value="5">Five days</option>
                <option value="10">Ten Days</option>
            </select>
        </div>

        <!-- Pair -->
        <div class="field">
            <label for="pair">Pair</label>
            <select name="pair" id="pair" class="form-control" formControlName="pair">
                <option value="ast/btc">AST/BTC</option>
                <option value="etc/btc">ETC/BTC</option>
                <option value="eth/btc">ETH/BTC</option>
                <option value="eos/btc">EOS/BTC</option>
                <option value="ltc/btc">LTC/BTC</option>
            </select>
        </div>

        <!-- Strategy 1 -->
        <div class="field">
            <label for="strategy1">Strategy 1</label>
            <select name="strategy1" id="strategy1" class="form-control" formControlName="strategy1">
                <option value="strategy001">Strategy 001</option>
                <option value="strategy002">Strategy 002</option>
                <option value="strategy003">Strategy 003</option>
                <option value="strategy004">Strategy 004</option>
                <option value="strategy005">Strategy 005</option>
            </select>
        </div>

        <!-- Strategy 2 -->
        <div class="field">
            <label for="strategy2">Strategy 2</label>
            <select name="strategy2" id="strategy2" class="form-control" formControlName="strategy2">
                <option value="ast/btc">AST/BTC</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">BackTest</button>
    </form>

    <table class="table table-striped col-8">
        <thead>
        <tr>
            <th scope="col">Pair</th>
            <th scope="col">Buy count</th>
            <th scope="col">Avg profit %</th>
            <th scope="col">Cum profit %</th>
            <th scope="col">Tot profit BTC</th>
            <th scope="col">Tot profit %</th>
            <th scope="col">Avg duration</th>
            <th scope="col">Profit</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let row of data">
            <th>{{ row[0] }}</th>
            <td>{{ row[1] }}</td>
            <td>{{ row[2] }}</td>
            <td>{{ row[3] }}</td>
            <td>{{ row[4] }}</td>
            <td>{{ row[5] }}</td>
            <td>{{ row[6] }}</td>
            <td>{{ row[7] }}</td>
        </tr>
        </tbody>
    </table>
</div>
