.title {
    color: #B00020;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    padding: 20px;
}

form {
    padding: 0 30px;

    .field {
        margin-bottom: 20px;
    }

    button {
        margin-top: 20px;
        width: 100%;
    }

    .table {
        margin-top: 40px;
    }
}

